body{
    background-color: aqua;
}
.center {
    margin: 10%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: 40%;
    margin-top: 25%;
  }